<h3>Perfil do Cliente</h3>
<div>
    <div>
        <label><b>Nome</b></label> {{customer.firstName}}
    </div>
    <div>
        <label><b>Sobrenome</b></label> {{customer.lastName}}
    </div>
    <div>
        <label><b>CPF</b></label> {{customer.cpf}}
    </div>
    <div>
        <label><b>Email</b></label> {{customer.emailId}}
    </div>
    <div>
        <label><b>Telefone</b></label> {{customer.phoneNumber}}
    </div>
    <div>
        <label><b>Endereço</b></label> {{customer.address}}
    </div>
    <div>
        <label><b>CEP</b></label> {{customer.cep}}
    </div>
</div>